%btn-shared {
    &:link, &:visited {  //to make original and visited link same
        color: $grey;
        // background-color: $medium-green;
        background-color: white;
        padding: 15px 40px;
        border: none;
        border-radius: 100px;
        margin-top: 40px;
        display: inline-block;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;
    }
    // for button hover effect
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: white;
        // background-color: $medium-green;
        border-radius: 100px;
        transition: all .4s;
        // display: inline-block;
    }
    &:hover {
        box-shadow: 0px 10px 20px rgba($color: black, $alpha: 0.2);
        // for button hover effect
        &::after {
            transform: scaleX(1.4) scaleY(1.7);
            opacity: 0;
        }
    }
    &:active {
        box-shadow: 0px 5px 10px rgba($color: black, $alpha: 0.2);
    }
}

.btn {
    &1 {
        @extend %btn-shared;
        animation: move-in-top ease 1s;
    }
    &2 {
        @extend %btn-shared;
        &:link, &:visited{ 
            background-color: $medium-green;
            color: white;
            margin-top: 8rem;
        }
        &::after {
            background-color: $medium-green;
        }
        // animation: move-in-top ease 1s;
    }
    &-submit {
        color: white;
        background-color: $medium-green;
        // background-color: white;
        padding: 15px 40px;
        border: none;
        border-radius: 100px;
        margin-top: 40px;
        display: inline-block;
        transition: all 0.2s;
        position: relative;
        font-size: $default-font-size;
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            // background-color: white;
            background-color: $medium-green;
            border-radius: 100px;
            transition: all .4s;
            // display: inline-block;
        }
        &:hover {
            box-shadow: 0px 10px 20px rgba($color: black, $alpha: 0.2);
            cursor: pointer;
            // for button hover effect
            &::after {
                transform: scaleX(1.4) scaleY(1.7);
                opacity: 0;
            }
        }
    }
}



.btn-small {
    &:link, 
    &:visited {
        color: $medium-green;
        font-size: $default-font-size;
        padding: 1rem .3rem;
        border-bottom: 1px solid $medium-green;
        display: inline-block;
    }
    &:hover {
        box-shadow: 0 1rem 2rem rgba($color: black, $alpha: 0.2);
        background-color: $medium-green;
        color: white;
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba($color: black, $alpha: 0.2);
    }
}