.utility-centre {
    text-align: center;
}
.utility-margin-bottom {
    margin-bottom: 8rem;
}
.utility-class-h3 {
    margin-bottom: 1.5rem;
}
.utility-class-i {
    margin-bottom: 3.5rem;
}
.discover-btn {
    z-index: 1;
    position: relative;
    text-align: center;
}